{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Caps AD III</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">CAPS AD III</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'unidade-acolhimento:detalhe_unidade' %}">Un. Acolhimento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'paciente:listar_pacientes' %}">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'paciente:apresenta_estatisticas' %}">Gráficos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ user.username }}</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vw_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
    {% block content %}
    {% endblock %}
    
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>