{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="card mt-4">
      <div class="card-header">
        Adicionar Evolução
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="texto_descritivo">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="10" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Adicionar Evolução</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}