{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1>Tabela de Drogas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Droga</th>
          <th>Idade de primeiro uso</th>
          <th>Frequência</th>
          <th>Último uso</th>
        </tr>
      </thead>
      <tbody id="registros">
      </tbody>
    </table>
    <form action="" method="POST">
        {% csrf_token %}
    <div class="form-row">
        <div class="col-md-3">
        
        <select id="droga" name="droga" class="form-control">  
            {% for droga in drogas %}
            <option value="{{ droga.id }}">{{ droga.nome }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-md-3">
            <input name="idade" type="text" class="form-control" placeholder="Idade de primeiro uso">
        </div>
        <div class="col-md-3">
            <input name="frequencia" type="text" class="form-control" placeholder="Frequência">
        </div>
        <div class="col-md-3">
            <input name="ultimo-uso" type="date" class="form-control" placeholder="Último uso">
        </div>
    </div>
    
    
    <button type="submit" id="cadastrarBtn" class="btn btn-primary mt-3">Cadastrar</button>
    </form>
</div>

  {% endblock %}