{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="card-body">
    <h1 class="mt-5">Informações do Paciente</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#medico">Informações Básicas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#servidor">Avaliação de Consumo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#evolucao">Evoluções</a>
    </li>
  </ul>
    <div class="tab-content">
    <div class="tab-pane fade show active" id="medico">
    <div class="card mt-4">
      <div class="card-header">
        Informações Básicas
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.nome }}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Endereço:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.endereco }}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data de Nascimento:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.data_nascimento|date:"d/m/Y" }}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Sexo:</label>
          <div class="col-sm-10">
            {% if paciente.sexo %}
            <p class="form-control-static">Feminino</p>
            {% else %}
            <p class="form-control-static">Masculino</p>
            {% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Naturalidade:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.naturalidade|default_if_none:'' }}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">RG:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.rg|default_if_none:'' }}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">CPF:</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ paciente.cpf|default_if_none:'' }}</p>
          </div>
        </div>
        <a  type="button" class="btn btn-primary" href="{% url 'paciente:editar_paciente' paciente.id %}">Editar Informações</a>
        
        {% if paciente.unidade_acolhimento is null %}
        <form method="POST" action="{% url 'paciente:insere_unidade_acolhimento' paciente.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success mt-3">Inserir na unidade</button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'paciente:remove_unidade_acolhimento' paciente.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mt-3">Remover da unidade</button>
        </form>
        {% endif %}
      </div>
    </div>
    </div>

    
    <div class="tab-pane fade" id="servidor">
    <div class="card mt-4">
      <div class="card-header">
        Consumo de Drogas
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome da Droga</th>
              <th>Idade de Primeiro Uso</th>
              <th>Frequência</th>
              <th>Data do Último Uso</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            
            {% for droga in drogas %}
                <tr>
                    <td>{{ droga.droga.nome }}</td>
                    <td>{{ droga.idade_pu }} anos</td>
                    <td>{{ droga.frequencia }}</td>
                    <td>{{ droga.ultimo_uso|date:"d/m/Y"}}</td>
                    <td>
                      <form method="POST" action="{% url 'paciente:remove_droga' paciente.id droga.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                      </form>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'paciente:adiciona_droga' paciente.id %}" class="btn btn-primary">Adicionar Consumo</a>
      </div>
    </div>
    </div>

    <div class="tab-pane fade" id="evolucao">
    <div class="card mt-4">
      <div class="card-header">
        Evolução
      </div>
      
      <div class="card-body">
        {% for evolucao in evolucoes %}
        <p>{{ evolucao.descritivo }}</p>
        <p>{{ evolucao.data|date:"d/m/Y" }}</p>
        <p><b>{{ evolucao.servidor.nome }}</b></p>
        {% endfor %}
        <a href="{% url 'paciente:adiciona_evolucao' paciente.id %}" class="btn btn-primary">Adicionar Evolução</a>
      </div>
    </div>
  </div>
  </div>
    

    </div>
  </div>

  {% endblock %}