<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Entry Page</title>
    {% load bootstrap4 %}

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CAPS AD III</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Unidade de Acolhimento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="container mt-5">
      <h1>Cadastro de paciente</h1>
    </div>
    <div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#basic-info">Identificações Básicas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#social-info">Convívio Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#social-info">Avaliação de consumo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#social-info">Comorbidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#social-info">Orientações</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="basic-info">
        <h4>Informações Básicas</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="nome">
            </div>

            <div class="form-group">
            <label for="date">Data de nascimento</label>
            <input type="date" class="form-control" id="date" name="data-nascimento">
            </div>

            <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco">
            </div>

            <div class="form-group">
                <label for="sexo">Sexo biológico</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" id="masculino" value=0 checked>
                  <label class="form-check-label" for="masculino">
                    Masculino
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" id="feminino" value=1>
                  <label class="form-check-label" for="feminino">
                    Feminino
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label for="identidade-genero">Identidade de gênero</label>
                <input type="text" class="form-control" id="identidade-genero" name="identidade-genero">
            </div>

            <div class="form-group">
                <label for="filiacao">Filiação</label>
                <input type="text" class="form-control" id="filiacao" name="filiacao">
            </div>

            <div class="form-group">
                <label for="naturalidade">Naturalidade</label>
                <input type="text" class="form-control" id="naturalidade" name="naturalidade">
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone">
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf">
            </div>

            <div class="form-group">
                <label for="cns">CNS</label>
                <input type="text" class="form-control" id="cns" name="cns">
            </div>

            <div class="form-group">
                <label for="sexo">Em situação de rua</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="situacao-rua" id="nao" value=0 checked>
                  <label class="form-check-label" for="nao">
                    Não
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="situacao-rua" id="sim" value=1>
                  <label class="form-check-label" for="sim">
                    Sim
                  </label>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>

        <div class="tab-pane fade" id="social-info">
        <h4>Informações de Convívio Social</h4>
        <form>
            <div class="form-group">
            <label for="hobbies">Hobbies</label>
            <input type="text" class="form-control" id="hobbies" placeholder="Digite seus hobbies">
            </div>
            <div class="form-group">
            <label for="interests">Interesses</label>
            <input type="text" class="form-control" id="interests" placeholder="Digite seus interesses">
            </div>
            <div class="form-group">
            <label for="bio">Biografia</label>
            <textarea class="form-control" id="bio" rows="3" placeholder="Digite uma breve biografia"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>
    </div>
    </div>

    <!-- Adicione os arquivos JS do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
    
