{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1 class="mt-5">Lista de Pacientes</h1>

<div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <label for="search">Pesquisar:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Digite o nome do paciente">
          <div class="input-group-append">
              <a  type="button" href="{% url 'paciente:cadastrar_paciente' %}" class="btn btn-success btn-sm">+</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Tabela de pacientes -->
<table class="table table-striped mt-4">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Endereço</th>
        <th>Sexo Biológico</th>
    </tr>
    </thead>
    <tbody>
    
    {% for paciente in pacientes %}
    <tr>
        <td><a href="{% url 'paciente:detalhe_paciente' paciente.id %}">{{ paciente.nome }}</a></td>
        <td>{{ paciente.data_nascimento|date:"d/m/Y" }}</td>
        <td>{{ paciente.endereco }}</td>
        
        {% if paciente.sexo %}
          <td>Feminino</td>
        {% else %}
          <td>Masculino</td>
        {% endif %}
          
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}