{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1 class="mt-5">Lista de Pacientes</h1>

<div class="row mt-4">
    <div class="col-md-6">
    <div class="form-group">
        <label for="search">Pesquisar:</label>
        <input type="text" class="form-control" id="search" placeholder="Digite o nome do paciente">
    </div>
    </div>
</div>

<!-- Tabela de pacientes -->
<table class="table table-striped mt-4">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Endereço</th>
        <th>Sexo Biológico</th>
    </tr>
    </thead>
    <tbody>
    
    {% for paciente in pacientes %}
    <tr>
        <td>{{ paciente.nome }}</td>
        <td>{{ paciente.data_nascimento }}</td>
        <td>{{ paciente.endereco }}</td>
        <td>{{ paciente.sexo }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}